a:link {
  color: yellow;
}
a:visited {
  color: aquamarine;
}
a:hover {
  color: green;
}
a:active {
  color: rgb(167, 90, 167); /* Requirement-2.3 */
}

link {
  font-style: italic;
}

body {
  /* Requirement-2.A */
  background: coral; /* Requirement-2.4 */
  border-style: dashed;
  border-color: rgb(83, 146, 241); /* Requirement-2.5 */
  padding-top: 2%; /* Requirement-2.6 */ /* Requirement-2.10 */
}

centrespan {
  font-style: oblique;
  font-size: 56px;
}
p {
  /* Requirement-2.D */
  font-style: oblique;
}

body ul {
  /* Requirement-2.F */
  /* Requirement-2.8 */
  font-style: oblique;
  list-style-type: none;
}

body audio {
  /* Requirement-2.B */
  border-style: dashed;
  border-color: rgb(222, 243, 104);
  float: center; /* Requirement-2.11*/
}

a {
  /* Requirement-2.E */
  font-size: 1cm; /* Requirement-2.9 */
}
.musicDesc {
  font-family: Helvetica; /* Requirement-2.1 */
  float: center; /* Requirement-2.11*/
  clear: left;
}
.musicTitle {
  /* Requirement-2.C */
  font-family: Arial, Helvetica, sans-serif;
  font-variant-caps: all-petite-caps;
  font-size: 32px;
  text-shadow: 1px 1px 2px rgb(62, 146, 23), 0 0 1em rgb(231, 105, 214),
    0 0 0.2em blue;
  letter-spacing: 0.2rem; /* Requirement-2.2 */
}

.arts {
  float: center;
}
.chaosTitle {
  font-family: monospace;
  font-size: 32px;
  text-shadow: 1px 1px 2px rgb(62, 146, 23), 0 0 1em blue, 0 0 0.2em blue;
  letter-spacing: 0.2rem; /* Requirement-2.2 */ /* Requirement-2.9 */
}
.homepageDesc {
  clear: left;
}

.homepageDesc {
  display: block; /* Requirement-2.12*/
}

.indexPort {
  flex-flow: row nowrap;
  align-items: center;
}

details {
  font-family: monospace;
}

summary {
  font-family: monospace;
}

article {
  margin-left: 12cm;
  margin-right: 12cm;
  font-family: monospace;
  font-size: 18px;
}
